
ul{
    list-style-type: none;
    padding: 0;
}

a, span{
    display: inline-block;
}

form input{
    display: block;
}

nav, .gs-offcanvas-b-bg{
    background-color: #394a5c ;
}
.gs-button-off{
    filter: invert(1);
}

.gs-offcanvas-h-bg{
    background-color: #2c3e50 ;
}